# Wind Statistics

### Introduction:

The data have been modified to contain some missing values, identified by NaN.  

You should be able to perform all of these operations without using
a for loop or other looping construct.


1. The data in 'wind.data' has the following format:

"""
Yr Mo Dy   RPT   VAL   ROS   KIL   SHA   BIR   DUB   CLA   MUL   CLO   BEL   MAL
61  1  1 15.04 14.96 13.17  9.29   NaN  9.87 13.67 10.25 10.83 12.58 18.50 15.04
61  1  2 14.71   NaN 10.83  6.50 12.62  7.67 11.50 10.04  9.79  9.67 17.54 13.83
61  1  3 18.50 16.88 12.33 10.13 11.17  6.17 11.25   NaN  8.50  7.67 12.75 12.71
"""

   The first three columns are year, month and day.  The
   remaining 12 columns are average windspeeds in knots at 12
   locations in Ireland on that day.   

   More information about the dataset go [here](wind.desc).

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset [wind.csv](https://github.com/guipsamora/pandas_exercises/blob/master/Stats/Wind_Stats/wind.data) from the folder

In [2]:
pd.read_csv('wind.data')

,Yr,Mo,Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
0,61,1,1,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1,61,1,2,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
2,61,1,3,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
3,61,1,4,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
4,61,1,5,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83
5,61,1,6,13.21,8.12,9.96,6.67,5.37,4.50,10.67,4.42,7.17,7.50,8.12,13.17
6,61,1,7,13.50,14.29,9.50,4.96,12.29,8.33,9.17,9.29,7.58,7.96,13.96,13.79
7,61,1,8,10.96,9.75,7.62,5.91,9.62,7.29,14.29,7.62,9.25,10.46,16.62,16.46
8,61,1,9,12.58,10.83,10.00,4.75,10.37,6.79,8.04,10.13,7.79,9.08,13.04,15.37
9,61,1,10,13.37,11.12,19.50,8.33,9.71,6.54,11.42,7.79,8.54,9.00,8.58,11.83
10,61,1,11,10.58,9.87,8.42,2.79,8.71,7.25,7.54,8.33,5.71,8.67,20.71,16.92
11,61,1,12,19.75,12.08,18.50,10.54,10.29,9.46,15.54,11.50,10.37,14.58,15.59,14.09
12,61,1,13,9.92,3.54,8.46,2.96,2.29,0.96,4.63,0.58,2.33,3.37,5.25,7.04
13,61,1,14,9.04,5.66,7.08,0.67,2.71,1.38,3.08,2.58,0.50,2.67,7.17,5.17
14,61,1,15,12.04,9.67,11.75,2.37,7.38,3.13,2.50,6.83,4.75,5.63,7.54,6.75
15,61,1,16,16.42,11.25,15.67,4.71,11.34,6.92,9.25,8.79,8.21,7.33,13.04,9.04
16,61,1,17,17.75,14.37,17.33,10.13,13.96,13.37,13.42,11.04,8.71,11.38,15.92,16.08
17,61,1,18,19.83,12.04,20.79,18.54,NaN,10.29,17.83,11.38,14.67,16.71,8.79,17.96
18,61,1,19,4.92,3.42,7.29,1.04,3.67,3.17,3.71,2.79,1.92,2.71,6.87,7.83
19,61,1,20,9.59,11.83,7.96,1.58,7.92,5.00,3.17,4.92,3.13,3.37,6.50,6.79
20,61,1,21,14.33,10.25,11.92,6.13,10.04,7.67,8.04,9.17,7.04,7.87,6.75,12.42
21,61,1,22,9.59,5.88,9.92,2.17,6.87,5.50,9.38,7.04,6.34,7.50,10.88,9.92
22,61,1,23,16.54,9.96,18.54,10.46,13.50,12.67,13.70,13.75,10.75,13.17,14.79,20.58
23,61,1,24,25.04,14.83,25.84,15.67,21.46,18.58,20.38,19.38,15.37,15.12,23.09,25.25
24,61,1,25,13.62,11.17,12.67,6.04,10.00,9.42,9.25,8.71,7.12,12.04,14.04,17.50
25,61,1,26,24.37,18.79,17.50,14.25,18.91,15.67,14.33,15.16,16.08,19.08,20.50,25.25
26,61,1,27,22.04,20.79,17.41,16.21,19.04,16.13,16.79,18.29,18.66,19.08,26.08,27.63
27,61,1,28,17.67,13.54,13.33,8.87,15.04,11.63,12.25,10.58,11.92,11.04,20.30,18.12
28,61,1,29,NaN,23.91,22.29,17.54,24.08,19.70,22.00,20.25,21.46,19.95,27.71,23.38
29,61,1,30,12.21,11.42,10.92,7.92,13.08,9.62,14.50,10.21,9.92,11.96,18.88,19.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6544,78,12,2,13.70,12.71,14.29,5.13,9.21,8.04,12.33,6.34,9.21,11.21,9.59,19.95
6545,78,12,3,21.21,21.34,17.75,11.58,16.75,14.46,17.46,15.29,15.79,17.50,21.42,25.75
6546,78,12,4,9.92,13.50,7.21,1.71,11.00,7.50,8.38,7.46,10.79,10.21,17.88,17.96
6547,78,12,5,22.75,20.17,18.58,8.50,15.96,14.29,13.92,12.92,12.96,12.29,17.08,19.83
6548,78,12,6,29.33,23.87,25.37,16.04,24.46,19.50,24.54,18.58,21.00,20.58,21.67,34.46
6549,78,12,7,26.63,24.79,24.79,18.16,23.13,19.58,19.92,19.04,19.75,21.50,23.04,34.59
6550,78,12,8,12.92,12.54,11.25,3.37,6.50,5.96,10.34,6.17,6.63,6.75,9.54,17.33
6551,78,12,9,18.71,16.92,15.50,6.04,10.37,9.59,10.75,9.13,9.75,11.08,14.33,15.34
6552,78,12,10,24.92,22.54,16.54,14.62,15.59,13.00,13.21,14.12,16.21,16.17,26.08,21.92
6553,78,12,11,20.25,19.17,17.83,11.63,17.79,13.37,14.83,13.88,15.54,16.29,18.34,22.83
6554,78,12,12,23.13,18.63,18.05,8.29,14.33,11.04,10.54,10.13,11.42,10.50,11.25,13.50
6555,78,12,13,18.84,24.04,14.37,8.33,18.12,12.17,13.00,13.75,14.17,15.09,21.50,21.37
6556,78,12,14,17.21,19.75,12.71,5.83,13.79,7.33,8.83,5.71,7.96,3.37,5.21,6.92
6557,78,12,15,13.13,8.92,16.54,6.92,6.00,4.00,12.67,5.88,7.67,6.08,5.50,17.16
6558,78,12,16,14.88,9.13,17.37,5.21,6.71,2.46,9.13,4.96,6.13,5.96,10.92,18.08
6559,78,12,17,9.87,3.21,8.04,2.21,3.04,0.54,2.46,1.46,1.29,2.67,5.00,9.08
6560,78,12,18,9.83,10.88,8.50,1.00,9.08,6.00,2.42,8.25,4.42,5.88,19.79,19.79
6561,78,12,19,13.88,11.42,10.13,2.33,8.12,6.75,4.75,5.88,6.21,8.17,8.33,18.25
6562,78,12,20,9.92,3.63,12.38,3.08,3.50,0.42,4.54,2.50,2.13,4.71,3.21,10.29
6563,78,12,21,12.96,3.83,13.79,4.79,7.12,6.54,11.67,9.25,8.67,9.00,11.25,20.30
6564,78,12,22,6.21,7.38,13.08,2.54,7.58,5.33,2.46,8.38,5.09,5.04,9.92,11.00
6565,78,12,23,16.62,13.29,22.21,9.50,14.29,13.08,16.50,17.16,12.71,12.00,18.50,21.50
6566,78,12,24,8.67,5.63,12.12,4.79,5.09,5.91,12.25,9.25,10.83,11.71,11.92,31.71
6567,78,12,25,7.21,6.58,7.83,2.67,4.79,4.58,8.71,0.75,5.21,5.25,1.21,13.96
6568,78,12,26,13.83,11.87,10.34,2.37,6.96,4.29,1.96,3.79,3.04,3.08,4.79,11.96
6569,78,12,27,17.58,16.96,17.62,8.08,13.21,11.67,14.46,15.59,14.04,14.00,17.21,40.08
6570,78,12,28,13.21,5.46,13.46,5.00,8.12,9.42,14.33,16.25,15.25,18.05,21.79,41.46
6571,78,12,29,14.00,10.29,14.42,8.71,9.71,10.54,19.17,12.46,14.50,16.42,18.88,29.58
6572,78,12,30,18.50,14.04,21.29,9.13,12.75,9.71,18.08,12.87,12.46,12.12,14.67,28.79
6573,78,12,31,20.33,17.41,27.29,9.59,12.08,10.13,19.25,11.63,11.58,11.38,12.08,22.08

### Step 3. Assign it to a variable called data and replace the first 3 columns by a proper datetime index.

In [3]:
data = pd.read_csv('wind.data')
data.head(2)

,Yr,Mo,Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
0,61,1,1,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1,61,1,2,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83

In [4]:
pd.to_datetime(data.Yr*10000+data.Mo*100+data.Dy, format = '%y%m%d')
data['Date'] = pd.to_datetime(data.Yr*10000+data.Mo*100+data.Dy, format = '%y%m%d')
data.head()

,Yr,Mo,Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,Date
0,61,1,1,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04,2061-01-01
1,61,1,2,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83,2061-01-02
2,61,1,3,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71,2061-01-03
3,61,1,4,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88,2061-01-04
4,61,1,5,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83,2061-01-05

In [5]:
data.drop(['Yr','Mo','Dy'], axis=1, inplace=True)

In [6]:
data.head(2)

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,Date
0,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04,2061-01-01
1,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83,2061-01-02

### Step 4. Year 2061 is seemingly imporoper. Convert every year which are < 70 to 19XX instead of 20XX.

In [7]:
import numpy as np 

now = pd.Timestamp('now')
data['Date'] = data['Date'].where(data['Date'] < now, data['Date'] -  np.timedelta64(100, 'Y'))

In [8]:
data['Date'].head()

0   1961-01-01 18:00:00
1   1961-01-02 18:00:00
2   1961-01-03 18:00:00
3   1961-01-04 18:00:00
4   1961-01-05 18:00:00
Name: Date, dtype: datetime64[ns]

### Step 5. Set the right dates as the index. Pay attention at the data type, it should be datetime64[ns].

In [9]:
data.set_index(data.Date, inplace=True)
data.head()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,Date
Date,,,,,,,,,,,,,
1961-01-01 18:00:00,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04,1961-01-01 18:00:00
1961-01-02 18:00:00,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83,1961-01-02 18:00:00
1961-01-03 18:00:00,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71,1961-01-03 18:00:00
1961-01-04 18:00:00,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88,1961-01-04 18:00:00
1961-01-05 18:00:00,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83,1961-01-05 18:00:00

### Step 6. Compute how many values are missing for each location over the entire record.  
#### They should be ignored in all calculations below.

In [10]:
data.isna().sum()

RPT     6
VAL     3
ROS     2
KIL     5
SHA     2
BIR     0
DUB     3
CLA     2
MUL     3
CLO     1
BEL     0
MAL     4
Date    0
dtype: int64

### Step 7. Compute how many non-missing values there are in total.

In [11]:
data.isnull().any().count()

13

### Step 8. Calculate the mean windspeeds over all the locations and all the times.
#### A single number for the entire dataset.

In [12]:
data.mean()

RPT    12.362987
VAL    10.644314
ROS    11.660526
KIL     6.306468
SHA    10.455834
BIR     7.092254
DUB     9.797343
CLA     8.495053
MUL     8.493590
CLO     8.707332
BEL    13.121007
MAL    15.599079
dtype: float64

In [13]:
data.mean().mean()

10.227982360836924

### Step 9. Create a DataFrame called loc_stats and calculate the min, max and mean windspeeds and standard deviations of the windspeeds at each location over all the days 

#### A different set of numbers for each location.

In [14]:
loc_stas = data.describe().T

In [15]:
loc_stats = loc_stas[['min', 'max', 'mean', 'std']]
loc_stats

      min    max       mean       std
RPT  0.67  35.80  12.362987  5.618413
VAL  0.21  33.37  10.644314  5.267356
ROS  1.50  33.84  11.660526  5.008450
KIL  0.00  28.46   6.306468  3.605811
SHA  0.13  37.54  10.455834  4.936125
BIR  0.00  26.16   7.092254  3.968683
DUB  0.00  30.37   9.797343  4.977555
CLA  0.00  31.08   8.495053  4.499449
MUL  0.00  25.88   8.493590  4.166872
CLO  0.04  28.21   8.707332  4.503954
BEL  0.13  42.38  13.121007  5.835037
MAL  0.67  42.54  15.599079  6.699794

### Step 10. Create a DataFrame called day_stats and calculate the min, max and mean windspeed and standard deviations of the windspeeds across all the locations at each day.

#### A different set of numbers for each day.

In [77]:
day_stats = data.resample('D').sum()
day_stats.head()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Date,,,,,,,,,,,,
1961-01-01,15.04,14.96,13.17,9.29,0.00,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1961-01-02,14.71,0.00,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
1961-01-03,18.50,16.88,12.33,10.13,11.17,6.17,11.25,0.00,8.50,7.67,12.75,12.71
1961-01-04,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
1961-01-05,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83

In [81]:
day_stats.agg({'mean', 'max', 'min', 'std'}).T

          mean    max   min       std
RPT  12.351704  35.80  0.00  5.628245
VAL  10.639457  33.37  0.00  5.271060
ROS  11.656979  33.84  0.00  5.011816
KIL   6.301672  28.46  0.00  3.608631
SHA  10.452653  37.54  0.00  4.938742
BIR   7.092254  26.16  0.00  3.968683
DUB   9.792872  30.37  0.00  4.980816
CLA   8.492469  31.08  0.00  4.501204
MUL   8.489714  25.88  0.00  4.169870
CLO   8.706007  28.21  0.00  4.504892
BEL  13.121007  42.38  0.13  5.835037
MAL  15.589588  42.54  0.00  6.708793

### Step 11. Find the average windspeed in January for each location.  
#### Treat January 1961 and January 1962 both as January.

In [17]:
january_data = data[data.index.month == 1]
print ('January windspeeds:',january_data.mean())

January windspeeds: RPT    14.847325
VAL    12.914560
ROS    13.299624
KIL     7.199498
SHA    11.667734
BIR     8.054839
DUB    11.819355
CLA     9.512047
MUL     9.543208
CLO    10.053566
BEL    14.550520
MAL    18.028763
dtype: float64

### Step 12. Downsample the record to a yearly frequency for each location.

In [18]:
'Yearly:', data.resample('A').mean()

('Yearly:',
                   RPT        VAL        ROS       KIL        SHA       BIR  \
 Date
 1961-12-31  12.299583  10.351796  11.362369  6.958227  10.881763  7.729726
 1962-12-31  12.246923  10.110438  11.732712  6.960440  10.657918  7.393068
 1963-12-31  12.813452  10.836986  12.541151  7.330055  11.724110  8.434712
 1964-12-31  12.363661  10.920164  12.104372  6.787787  11.454481  7.570874
 1965-12-31  12.451370  11.075534  11.848767  6.858466  11.024795  7.478110
 1966-12-31  13.461973  11.557205  12.020630  7.345726  11.805041  7.793671
 1967-12-31  12.737151  10.990986  11.739397  7.143425  11.630740  7.368164
 1968-12-31  11.835628  10.468197  11.409754  6.477678  10.760765  6.067322
 1969-12-31  11.166356   9.723699  10.902000  5.767973   9.873918  6.189973
 1970-12-31  12.600329  10.726932  11.730247  6.217178  10.567370  7.609452
 1971-12-31  11.273123   9.095178  11.088329  5.241507   9.440329  6.097151
 1972-12-31  12.463962  10.561311  12.058333  5.929699   9.430410  6.358825
 1973-12-31  11.828466  10.680493  10.680493  5.547863   9.640877  6.548740
 1974-12-31  13.643096  11.811781  12.336356  6.427041  11.110986  6.809781
 1975-12-31  12.008575  10.293836  11.564712  5.269096   9.190082  5.668521
 1976-12-31  11.737842  10.203115  10.761230  5.109426   8.846339  6.311038
 1977-12-31  13.099616  11.144493  12.627836  6.073945  10.003836  8.586438
 1978-12-31  12.504356  11.044274  11.380000  6.082356  10.167233  7.650658

                   DUB        CLA       MUL        CLO        BEL        MAL
 Date
 1961-12-31   9.733923   8.858788  8.647652   9.835577  13.502795  13.680773
 1962-12-31  11.020712   8.793753  8.316822   9.676247  12.930685  14.323956
 1963-12-31  11.075699  10.336548  8.903589  10.224438  13.638877  14.999014
 1964-12-31  10.259153   9.467350  7.789016  10.207951  13.740546  14.910301
 1965-12-31  10.618712   8.879918  7.907425   9.918082  12.964247  15.591644
 1966-12-31  10.579808   8.835096  8.514438   9.768959  14.265836  16.307260
 1967-12-31  10.652027   9.325616  8.645014   9.547425  14.774548  17.135945
 1968-12-31   8.859180   8.255519  7.224945   7.832978  12.808634  15.017486
 1969-12-31   8.564493   7.711397  7.924521   7.754384  12.621233  15.762904
 1970-12-31   9.609890   8.334630  9.297616   8.289808  13.183644  16.456027
 1971-12-31   8.385890   6.757315  7.915370   7.229753  12.208932  15.025233
 1972-12-31   9.704508   7.680792  8.357295   7.515273  12.727377  15.028716
 1973-12-31   8.482110   7.614274  8.245534   7.812411  12.169699  15.441096
 1974-12-31  10.084603   9.896986  9.331753   8.736356  13.252959  16.947671
 1975-12-31   8.562603   7.843836  8.797945   7.382822  12.631671  15.307863
 1976-12-31   9.149126   7.146202  8.883716   7.883087  12.332377  15.471448
 1977-12-31  11.523205   8.378384  9.098192   8.821616  13.459068  16.590849
 1978-12-31   9.489342   8.800466  9.089753   8.301699  12.967397  16.771370  )

### Step 13. Downsample the record to a monthly frequency for each location.

In [19]:
'Monthly:', data.resample('M').mean()

('Monthly:',
                   RPT        VAL        ROS       KIL        SHA        BIR  \
 Date
 1961-01-31  14.841333  11.988333  13.431613  7.736774  11.072759   8.588065
 1961-02-28  16.269286  14.975357  14.441481  9.230741  13.852143  10.937500
 1961-03-31  10.890000  11.296452  10.752903  7.284000  10.509355   8.866774
 1961-04-30  10.722667   9.427667   9.998000  5.830667   8.435000   6.495000
 1961-05-31   9.860968   8.850000  10.818065  5.905333   9.490323   6.574839
 1961-06-30   9.904138   8.520333   8.867000  6.083000  10.824000   6.707333
 1961-07-31  10.614194   8.221613   9.110323  6.340968  10.532581   6.198387
 1961-08-31  12.035000  10.133871  10.335806  6.845806  12.715161   8.441935
 1961-09-30  12.531000   9.656897  10.776897  7.155517  11.003333   7.234000
 1961-10-31  14.289667  10.915806  12.236452  8.154839  11.865484   8.333871
 1961-11-30  10.896333   8.592667  11.850333  6.045667   9.123667   6.250667
 1961-12-31  14.973548  11.903871  13.980323  7.073871  11.323548   8.302258
 1962-01-31  14.783871  13.160323  12.591935  7.538065  11.779677   8.720000
 1962-02-28  15.844643  12.041429  15.178929  9.262963  13.821429   9.726786
 1962-03-31  11.634333   8.602258  12.110645  6.403226  10.352258   6.732258
 1962-04-30  12.160667   9.676667  12.088333  7.163000  10.544000   7.558000
 1962-05-31  12.745806  10.865484  11.874839  7.471935  11.285806   7.209032
 1962-06-30  10.305667   9.677000   9.996333  6.846667  10.711333   7.441333
 1962-07-31   9.981935   8.370645   9.753548  6.093226   9.112903   5.877097
 1962-08-31  10.964194   9.694194  10.184516  6.701290  10.465161   7.009032
 1962-09-30  11.176333   9.507000  11.640000  6.164333   9.722333   6.214000
 1962-10-31   9.699355   8.063548   9.357097  4.818065   8.432258   5.730000
 1962-11-30  11.071333   7.984000  12.035667  5.740000   8.135667   6.338333
 1962-12-31  16.785484  13.753548  14.276452  9.557419  13.724839  10.321613
 1963-01-31  14.868387  11.112903  15.121613  6.635806  11.080645   7.835484
 1963-02-28  14.418929  11.876429  15.697500  8.611786  12.887857   9.600357
 1963-03-31  14.853871  12.271290  14.295806  9.268387  13.112903  10.088065
 1963-04-30  11.616000  10.138000  13.233667  7.990333  11.515333   9.727000
 1963-05-31  12.879677  11.010645  12.881290  8.411613  12.981613   9.739677
 1963-06-30  10.623333   8.434667  11.685000  6.420333  10.142667   7.219333
 ...               ...        ...        ...       ...        ...        ...
 1976-07-31   9.687742   7.980968   8.267742  4.631613   7.576774   4.927419
 1976-08-31   7.640645   5.366129   9.000645  3.142258   4.695484   3.847742
 1976-09-30  11.703667  10.515333  10.466333  5.313333   8.761333   7.062333
 1976-10-31  12.427097   9.572258  10.640000  4.885484   9.393548   6.906452
 1976-11-30  10.962667   9.443667   9.202000  3.696000   7.459333   7.026333
 1976-12-31  11.962258  10.086774  10.474516  3.383871   7.645484   6.148387
 1977-01-31  13.404516  10.377742  12.764839  5.884516   9.159677   8.005161
 1977-02-28  12.336786  11.898929  12.016786  5.317500  10.134643   9.423929
 1977-03-31  16.750000  14.499677  16.118387  8.414516  13.293871  11.562258
 1977-04-30  14.955333  12.293000  12.689667  7.422333  11.740000  10.137000
 1977-05-31   9.441290   7.173871  12.455806  4.507742   6.198387   6.689677
 1977-06-30  11.040000   8.353000  12.228000  4.864000   8.790333   7.209667
 1977-07-31  10.881935   8.663548  10.816452  5.419677   9.014839   7.600000
 1977-08-31   9.233548   7.727742  10.679032  4.453871   6.620645   5.961290
 1977-09-30  12.472333  10.742667  11.849333  5.638667  10.077333   8.242667
 1977-10-31  15.004516  13.960000  12.819677  6.754194  11.779032   9.671613
 1977-11-30  16.946667  15.444667  13.561333  7.584000  12.088667   9.161333
 1977-12-31  14.751935  12.744839  13.469677  6.592258  11.247742   9.466774
 1978-01-31  14.291935  11.872258  12.014194  6.463226  11.402903   7.517097
 1978-02-28  14.143571  12.153214  13.803214  6.828929  11.196786   7.858929
 1978-03-31  14.717097  14.601935  13.334194  8.231290  12.783226   9.488710
 1978-04-30  11.805000  11.255667  12.516333  5.920333  10.218000   7.301667
 1978-05-31   8.270645   7.226774   6.901613  3.740645   6.973871   4.449677
 1978-06-30  11.386667   9.474333  10.253333  6.053000  10.395333   7.490333
 1978-07-31  12.820000   9.750968   9.910323  6.483871  10.055161   7.820645
 1978-08-31   9.645161   8.259355   9.032258  4.502903   7.368065   5.935161
 1978-09-30  10.913667  10.895000  10.635000  5.725000  10.372000   9.278333
 1978-10-31   9.897742   8.670968   9.295806  4.721290   8.525161   6.774194
 1978-11-30  16.151667  14.802667  13.508000  7.317333  11.475000   8.743000
 1978-12-31  16.175484  13.748065  15.635161  7.094839  11.398710   9.241613

                   DUB        CLA        MUL        CLO        BEL        MAL
 Date
 1961-01-31  11.184839   9.245333   9.085806  10.107419  13.880968  14.703226
 1961-02-28  11.890714  11.846071  11.821429  12.714286  18.583214  15.411786
 1961-03-31   9.644194   9.829677  10.294138  11.251935  16.410968  15.720000
 1961-04-30   6.925333   7.094667   7.342333   7.237000  11.147333  10.278333
 1961-05-31   7.604000   8.177097   8.039355   8.499355  11.900323  12.011613
 1961-06-30   9.095667   8.849333   9.086667   9.940333  13.995000  14.553793
 1961-07-31   8.353333   8.284194   8.077097   8.891613  11.092581  12.312903
 1961-08-31  10.093871  10.460968   9.111613  10.544667  14.410000  14.345333
 1961-09-30   8.206000   8.936552   7.728333   9.931333  13.718333  12.921667
 1961-10-31  11.194194   9.271935   8.942667  11.455806  14.229355  16.793226
 1961-11-30  10.869655   6.313667   6.575000   8.383667  10.776667  12.146000
 1961-12-31  11.753548   8.163226   7.965806   9.246774  12.239355  13.098710
 1962-01-31  14.211935   9.600000   9.670000  11.498710  16.369355  15.661613
 1962-02-28  16.916429  11.285357  12.021071  12.126429  16.705357  18.426786
 1962-03-31  10.223226   7.641935   7.092258   8.052581   9.690000  11.509000
 1962-04-30  11.480000   8.722000   8.703667   9.311667  12.234333  11.780667
 1962-05-31  10.105806   9.084516   7.868065   9.293226  12.130000  12.922581
 1962-06-30  10.548667  10.306667   9.196000  10.520333  13.757000  15.218333
 1962-07-31   7.781613   8.123226   6.829677   8.613226  10.783871  11.326129
 1962-08-31  11.136774   9.097419   8.645484   9.511613  13.119032  15.420968
 1962-09-30   8.488000   7.020333   6.372667   8.286000  11.483667  12.313333
 1962-10-31   8.448065   7.626774   6.630645   9.091290  13.286774  14.090323
 1962-11-30   9.615333   5.943000   6.362333   8.084333   9.786667  13.298333
 1962-12-31  13.735806  11.212258  10.683548  11.881935  16.043548  20.074516
 1963-01-31  12.797419   9.844839   7.841613   9.390000  11.428710  18.822258
 1963-02-28  12.729286  10.823214   8.981786  10.355714  13.266429  17.120714
 1963-03-31  12.168387  11.340968   9.690968  11.515484  13.982903  14.132581
 1963-04-30  11.979000  11.353000  10.341667  11.900333  13.875667  16.333667
 1963-05-31  12.280968  10.964194  10.745161  11.394839  14.777097  14.975161
 1963-06-30   9.267333   9.589333   8.583667   9.585333  12.098000  11.358667
 ...               ...        ...        ...        ...        ...        ...
 1976-07-31   6.994839   5.135806   7.941290   6.491290  10.264194  11.912258
 1976-08-31   5.437097   3.362581   5.946452   4.496452   7.079677   9.438387
 1976-09-30   8.617667   6.415333   8.953333   7.263333  11.587000  17.634000
 1976-10-31   6.380323   6.933226   7.552258   7.449032  11.837742  15.078065
 1976-11-30   9.058333   5.791000   6.577000   7.512333  12.568333  15.685333
 1976-12-31   8.034516   4.500000   5.952258   6.147742   7.814839  14.346774
 1977-01-31  10.107419   7.211613   8.280000   9.328387  12.131935  18.830000
 1977-02-28  10.949643   7.965357   9.320000   8.711429  11.435357  17.561429
 1977-03-31  14.283226  11.361613  12.102581  11.906452  15.863226  19.133548
 1977-04-30  13.887667   9.574000  10.342333  11.419667  15.593667  18.274667
 1977-05-31   9.226452   5.638387   6.699355   6.045484  10.213548  11.936129
 1977-06-30   8.799667   5.931000   7.065333   6.583333  11.321333  11.175333
 1977-07-31   9.961935   6.526129   7.980968   7.620000  12.924194  12.186774
 1977-08-31   8.943548   4.543226   6.384839   5.694839   9.825161  11.659355
 1977-09-30  11.939333   7.923000   8.828000   8.506333  14.051000  17.030333
 1977-10-31  12.924839  11.875161  11.481290  10.340323  17.640968  19.842903
 1977-11-30  14.051000  11.286000  10.318667  10.327000  17.215333  22.333000
 1977-12-31  13.231613  10.703871  10.401613   9.415484  13.237419  19.299677
 1978-01-31  12.207097  10.206452   9.549032   9.247419  15.101613  20.715806
 1978-02-28  11.903214  11.068929  10.052143   8.093929  10.353929  17.298571
 1978-03-31  12.129355  11.665161  11.656452   9.657097  14.234194  18.611290
 1978-04-30   8.586333   8.306667   8.537000   6.999000  11.190667  14.152000
 1978-05-31   5.420968   6.130645   5.742581   5.926452   9.263548  10.756452
 1978-06-30   7.928000   7.802000   8.220333   7.550000  11.501000  15.078667
 1978-07-31   7.831935   8.459355   8.523871   7.732903  12.648710  14.077419
 1978-08-31   5.650323   5.417742   7.241290   5.536774  10.466774  12.054194
 1978-09-30  10.790333   9.583000  10.069333   8.939000  15.680333  19.391333
 1978-10-31   8.115484   7.337742   8.297742   8.243871  13.776774  17.150000
 1978-11-30  11.492333   9.657333  10.701333  10.676000  17.404667  20.723000
 1978-12-31  12.077419  10.194839  10.616774  11.028710  13.859677  21.371613

 [216 rows x 12 columns])

### Step 14. Downsample the record to a weekly frequency for each location.

In [20]:
'Weekly:', data.resample('W').mean()

('Weekly:',
                   RPT        VAL        ROS        KIL        SHA        BIR  \
 Date
 1961-01-01  15.040000  14.960000  13.170000   9.290000        NaN   9.870000
 1961-01-08  13.541429  11.486667  10.487143   6.417143   9.474286   6.435714
 1961-01-15  12.468571   8.967143  11.958571   4.630000   7.351429   5.072857
 1961-01-22  13.204286   9.862857  12.982857   6.328571   8.966667   7.417143
 1961-01-29  19.880000  16.141429  18.225714  12.720000  17.432857  14.828571
 1961-02-05  16.827143  15.460000  12.618571   8.247143  13.361429   9.107143
 1961-02-12  19.684286  16.417143  17.304286  10.774286  14.718571  12.522857
 1961-02-19  15.130000  15.091429  13.797143  10.083333  13.410000  11.868571
 1961-02-26  15.221429  13.625714  14.334286   8.524286  13.655714  10.114286
 1961-03-05  12.101429  12.951429  11.063333   7.834286  12.101429   9.238571
 1961-03-12   9.376667  11.578571  10.845714   7.137143  10.940000   9.488571
 1961-03-19  11.911429  13.501429  11.607143   7.084286  10.751429   8.652857
 1961-03-26   9.567143   8.387143   9.695714   6.648571   8.964286   7.982857
 1961-04-02  10.757143   8.852857   9.501429   7.300000   9.975714   9.165714
 1961-04-09  11.964286  10.654286  13.607143   5.958571   9.494286   7.637143
 1961-04-16   8.965714   8.000000   8.787143   4.971429   6.405714   4.947143
 1961-04-23  12.621429  10.438571  10.255714   7.768571  10.357143   7.798571
 1961-04-30  10.117143   9.798571   8.281429   4.801429   7.892857   5.197143
 1961-05-07  15.367143  13.970000  13.834286   9.952857  14.917143  10.864286
 1961-05-14   7.772857   8.712857   8.172857   5.295714   9.150000   6.391429
 1961-05-21   8.225714   5.631667  12.042857   4.258571   7.597143   5.022857
 1961-05-28   8.155714   7.388571   8.512857   3.748333   6.941429   4.112857
 1961-06-04  10.321429   7.407143  10.065714   6.310000   9.754286   6.451429
 1961-06-11  10.917143   8.992857   8.095714   5.214286  10.030000   5.460000
 1961-06-18  10.571429   9.565714  10.875714   6.520000  10.260000   6.947143
 1961-06-25   7.345714   6.108571   8.084286   5.478571  11.477143   7.492857
 1961-07-02  10.236667   9.482857   8.648571   6.772857  10.975714   6.507143
 1961-07-09  11.715714   7.220000   9.320000   7.544286  12.494286   7.982857
 1961-07-16  16.680000  13.518571  11.171429   9.277143  14.524286   8.412857
 1961-07-23   4.202857   4.255714   6.738571   3.300000   6.112857   2.715714
 ...               ...        ...        ...        ...        ...        ...
 1978-06-11  12.022857   9.154286   9.488571   5.971429  10.637143   8.030000
 1978-06-18   9.410000   8.770000  14.135714   6.457143   8.564286   6.898571
 1978-06-25  12.707143  10.244286   8.912857   5.878571  10.372857   6.852857
 1978-07-02  12.208571   9.640000  10.482857   7.011429  12.772857   9.005714
 1978-07-09  18.052857  12.630000  11.984286   9.220000  13.414286  10.762857
 1978-07-16   5.882857   3.244286   5.358571   2.250000   4.618571   2.631429
 1978-07-23  13.654286  10.007143   9.915714   6.577143  10.757143   8.282857
 1978-07-30  12.172857  11.854286  11.094286   6.631429   9.918571   8.707143
 1978-08-06  12.475714   9.488571  10.584286   5.457143   8.724286   5.855714
 1978-08-13  10.114286   9.600000   7.635714   4.790000   8.101429   6.702857
 1978-08-20  11.100000  11.237143  10.505714   5.697143   9.910000   8.034286
 1978-08-27   6.208571   5.060000   8.565714   3.121429   4.638571   4.077143
 1978-09-03   8.232857   4.888571   7.767143   3.588571   3.892857   5.090000
 1978-09-10  11.487143  12.742857  11.124286   5.702857  10.721429  10.927143
 1978-09-17  12.067143  10.648571  11.610000   6.864286  12.252857  11.868571
 1978-09-24   5.845714   8.317143   9.305714   2.554286   5.625714   5.171429
 1978-10-01  16.252857  14.131429  12.098571   8.832857  15.810000  10.338571
 1978-10-08  12.865714  13.302857  11.671429   6.531429  11.731429   8.881429
 1978-10-15   9.611429   6.327143   9.250000   4.167143   6.821429   6.237143
 1978-10-22   9.804286   7.817143   7.642857   5.314286   9.124286   6.862857
 1978-10-29   7.504286   7.702857   8.102857   3.204286   7.464286   5.905714
 1978-11-05  13.060000  13.465714  12.137143   6.682857   9.891429   8.314286
 1978-11-12  14.857143  15.237143  12.007143   7.684286  12.460000   9.352857
 1978-11-19  20.590000  18.998571  17.272857  10.417143  14.220000  11.208571
 1978-11-26  16.498571  13.971429  13.544286   6.361429  10.438571   7.404286
 1978-12-03  14.934286  11.232857  13.941429   5.565714  10.215714   8.618571
 1978-12-10  20.740000  19.190000  17.034286   9.777143  15.287143  12.774286
 1978-12-17  16.758571  14.692857  14.987143   6.917143  11.397143   7.272857
 1978-12-24  11.155714   8.008571  13.172857   4.004286   7.825714   6.290000
 1978-12-31  14.951429  11.801429  16.035714   6.507143   9.660000   8.620000

                   DUB        CLA        MUL        CLO        BEL        MAL
 Date
 1961-01-01  13.670000  10.250000  10.830000  12.580000  18.500000  15.040000
 1961-01-08  11.061429   6.616667   8.434286   8.497143  12.481429  13.238571
 1961-01-15   7.535714   6.820000   5.712857   7.571429  11.125714  11.024286
 1961-01-22   9.257143   7.875714   7.145714   8.124286   9.821429  11.434286
 1961-01-29  15.528571  15.160000  14.480000  15.640000  20.930000  22.530000
 1961-02-05  12.204286   8.548571   9.821429   9.460000  14.012857  11.935714
 1961-02-12  14.934286  14.850000  14.064286  14.440000  21.832857  19.155714
 1961-02-19   9.542857  12.128571  12.375714  13.542857  21.167143  16.584286
 1961-02-26  11.150000  10.875714  10.392857  12.730000  16.304286  14.322857
 1961-03-05  10.232857  11.130000  10.383333  12.370000  17.842857  13.951667
 1961-03-12   6.881429   9.637143   9.885714  10.458571  16.701429  14.420000
 1961-03-19  10.041429  10.220000  10.101429  11.627143  19.350000  16.227143
 1961-03-26  10.774286   8.977143  10.904286  11.481429  14.037143  18.134286
 1961-04-02  11.125714   9.061429  10.478333   9.631429  13.471429  13.900000
 1961-04-09   7.107143   8.041429   8.161429   7.238571  11.712857  11.371429
 1961-04-16   5.005714   4.994286   5.718571   6.178571   9.482857   8.690000
 1961-04-23   9.000000   9.111429   8.767143   9.551429  13.620000  12.470000
 1961-04-30   6.150000   6.377143   6.242857   6.124286   9.720000   8.637143
 1961-05-07  11.435714  12.244286  11.677143  11.585714  17.548571  14.571429
 1961-05-14   8.013333   7.052857   7.528571   7.822857  10.421429  10.382857
 1961-05-21   5.695714   6.970000   6.847143   7.114286   9.624286  10.612857
 1961-05-28   5.142857   6.272857   6.108571   7.535714  10.518571  11.697143
 1961-06-04   8.344286   8.635714   8.714286   9.035714  12.298571  13.597143
 1961-06-11   7.084286   6.884286   8.034286   8.397143  10.148571  12.250000
 1961-06-18   9.278571   9.102857   8.992857   9.594286  15.351429  15.025714
 1961-06-25  11.868571   9.447143  10.458571  11.257143  14.370000  17.410000
 1961-07-02   7.642857   9.237143   7.904286  10.268571  14.535714  12.133333
 1961-07-09  11.888333   9.308571  10.732857  10.547143  12.220000  15.987143
 1961-07-16  10.171429  10.507143   9.530000  10.157143  13.520000  12.524286
 1961-07-23   3.964286   5.642857   5.297143   6.041429   7.524286   8.415714
 ...               ...        ...        ...        ...        ...        ...
 1978-06-11   8.678571   8.227143   9.172857   9.642857  11.632857  17.778571
 1978-06-18   7.297143   7.464286   7.054286   6.225714  11.398571  12.957143
 1978-06-25   7.648571   7.875714   7.865714   7.084286  13.030000  16.678571
 1978-07-02  11.055714   8.917143   9.994286   7.498571  12.268571  15.287143
 1978-07-09  11.368571  11.218571  11.272857  11.082857  14.754286  18.215714
 1978-07-16   2.494286   3.540000   3.397143   3.214286   7.198571   7.578571
 1978-07-23   8.147143   9.301429   8.952857   8.402857  13.847143  14.785714
 1978-07-30   7.458571   9.117143   9.304286   8.148571  15.192857  14.584286
 1978-08-06   7.065714   5.410000   6.631429   4.962857   9.084286  11.405714
 1978-08-13   5.452857   5.964286   7.518571   5.661429  10.691429  11.927143
 1978-08-20   7.267143   8.517143   9.815714   7.941429  15.000000  14.405714
 1978-08-27   3.291429   3.500000   5.877143   4.447143   8.131429  10.661429
 1978-09-03   6.184286   3.000000   6.202857   4.745714   8.105714  13.150000
 1978-09-10   9.157143   9.458571  10.588571   8.274286  14.560000  16.752857
 1978-09-17  13.017143  12.447143  11.908571  10.957143  18.422857  23.441429
 1978-09-24   7.047143   6.750000   6.870000   6.291429  13.447143  15.324286
 1978-10-01  15.124286  12.378571  12.275714  11.970000  19.160000  24.158571
 1978-10-08   9.707143   9.708571  11.391429  10.161429  16.498571  20.618571
 1978-10-15   5.577143   6.348571   7.232857   7.285714  12.197143  14.177143
 1978-10-22   9.391429   7.428571   7.765714   8.048571  12.708571  17.868571
 1978-10-29   8.727143   6.652857   7.605714   8.120000  14.487143  16.915714
 1978-11-05   9.775714   9.638571  10.185714  10.422857  18.451429  18.721429
 1978-11-12  10.224286  10.554286  11.168571  12.232857  19.307143  22.522857
 1978-11-19  16.081429  12.915714  13.297143  13.242857  20.357143  23.905714
 1978-11-26  12.797143   7.571429   9.998571   8.915714  15.207143  19.491429
 1978-12-03   9.642857   7.685714   9.011429   9.547143  11.835714  18.728571
 1978-12-10  14.437143  12.488571  13.870000  14.082857  18.517143  23.061429
 1978-12-17  10.208571   7.967143   9.168571   8.565714  11.102857  15.562857
 1978-12-24   7.798571   8.667143   7.151429   8.072857  11.845714  18.977143
 1978-12-31  13.708571  10.477143  10.868571  11.471429  12.947143  26.844286

 [940 rows x 12 columns])

### Step 15. Calculate the mean windspeed for each month in the dataset.  
#### Treat January 1961 and January 1962 as *different* months.
#### (hint: first find a  way to create an identifier unique for each month.)

In [21]:
monthwisedata = data.resample('M').mean()
monthwisedata.head()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Date,,,,,,,,,,,,
1961-01-31,14.841333,11.988333,13.431613,7.736774,11.072759,8.588065,11.184839,9.245333,9.085806,10.107419,13.880968,14.703226
1961-02-28,16.269286,14.975357,14.441481,9.230741,13.852143,10.937500,11.890714,11.846071,11.821429,12.714286,18.583214,15.411786
1961-03-31,10.890000,11.296452,10.752903,7.284000,10.509355,8.866774,9.644194,9.829677,10.294138,11.251935,16.410968,15.720000
1961-04-30,10.722667,9.427667,9.998000,5.830667,8.435000,6.495000,6.925333,7.094667,7.342333,7.237000,11.147333,10.278333
1961-05-31,9.860968,8.850000,10.818065,5.905333,9.490323,6.574839,7.604000,8.177097,8.039355,8.499355,11.900323,12.011613

### Step 16. Calculate the min, max and mean windspeeds and standard deviations of the windspeeds across all locations for each week (assume that the first week starts on January 2 1961) for the first 52 weeks.

In [22]:
data1 = data[data.index.year == 1961]
stats = data1.resample('W', how='mean').apply(lambda x: x.describe())
stats.T

C:\Users\Lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...).mean()

,count,mean,std,min,25%,50%,75%,max
RPT,53.0,12.341033,3.390879,4.202857,10.236667,11.715714,15.130000,19.880000
VAL,53.0,10.419380,2.874840,4.255714,8.445714,9.734286,12.951429,16.417143
ROS,53.0,11.381716,2.830804,6.738571,9.104286,10.875714,13.170000,18.225714
KIL,53.0,6.990952,2.072540,3.300000,5.478571,6.578571,8.370000,12.720000
SHA,52.0,10.876502,2.677186,6.112857,8.966071,10.357143,13.277857,17.432857
BIR,53.0,7.764340,2.426115,2.715714,6.017143,7.492857,9.238571,14.828571
DUB,53.0,9.805135,2.837580,3.964286,7.642857,9.542857,11.888333,15.565714
CLA,53.0,8.869915,2.440596,4.257143,6.884286,8.977143,10.250000,15.160000
MUL,53.0,8.694681,2.404598,4.501429,6.748571,8.714286,10.392857,14.480000
CLO,53.0,9.872951,2.588429,6.031429,7.697143,9.551429,11.840000,16.461429
BEL,53.0,13.583612,3.646558,5.875714,10.700000,13.520000,16.208571,21.832857
MAL,53.0,13.707255,3.551007,5.737143,11.371429,13.597143,15.987143,23.641429